@import "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 940px;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
}

.app-wrapper{

    /* 1.header section */
    #header{
        width: auto;
        background: #fcdb00;
        padding-bottom: 105px;
        overflow: hidden;
        .main-nav{

            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            max-width:930px;
            margin:0 auto;
            padding:20px 90px;
        
            .menu-bar{
                flex-basis: 33.33%;
            }
            .logo-box{
                flex-basis: 33.33%;
                padding-left: 10px;
                .logo{
                    display: inline-block; 
                }
                .brandname{
                    display: inline-block;
                    text-align: center;
                    color:#000;
                    transform: translateY(-15px);
                }
            } 
            .socials{
                flex-basis: 33.33%;
                text-align: center;
                color:#fff; 
                
                .social{

                    background: #000;
                    i{
                        padding: 8px;
                        text-decoration: none;
                        color:#fcdb00;
                    }
                }
            }
        }

        .lead-banner{
            display: flex;
            flex-direction: column;
            max-width: 900px;
            margin: 0 auto;
            justify-content: center;
            justify-items: center;
            //padding:0px 90px;
            padding:210px 0px;
            text-align: center;
            .lead-banner-text{
                flex-basis: 100%;
                h1{
                    padding-bottom: 25px;
                }
                p{
                    padding-bottom: 25px;
                }
            
            }
            .lead-banner-icons{
                flex-basis: 100%;
                .icon{
                    padding: 18px;
                    border: 1px solid #000;
                    border-radius: 100%;
                }
            }
        }
    }

 /* 2.features section */
 #features{
    width: auto;
    background: #fff;
    overflow: hidden;
    .feature-wrapper{ 
        padding-bottom: 160px;
        .features-banner-text{
            text-align: center;
            padding-top: 120px;
            max-width: 710px;
            margin:0 auto;
            padding-bottom: 90px;

            h1{
                padding-bottom: 10px;
            }
        }
        .feature-boxes{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            padding:0px 50px;
            .box{
                flex-basis: 33.333%;
                
                .content{
                    padding:0px 5px 30px 5px;
                    .lead-banner-image{
                        height: auto;
                        max-width:100%;
                        top:-50%;
                        //transform: translateY(-50%);
                    }
                    h2{
                        padding-bottom: 8px;
                    }
                    p{
                        color:#c4c4c4;
                    }
                }

            }
           
        }
    }
}

/* 3.footer section */
#footer{
        width: auto;
        background: #000;
        color:#898989;
        overflow: hidden;

        .footer-banner-text{
            text-align:center;
            padding-top: 95px;
            max-width:716px;
            margin:0 auto;
            .footer-header{
                padding-bottom: 15px;
            }
            h2{
                color:#fcdb00;
                padding-bottom: 8px;
            }
            .footer-btn-area{
                padding-bottom:80px;
                padding-top: 40px;

                .btn{
                    background: #fcdb00;
                    color:#000;
                    border-radius: 8px;
                    width:130px;
                    padding: 14px;
                    margin-left: 15px;
                }
                .footer-email-inp{
                    width:390px;
                    padding: 14px;
                    border-radius: 8px;
                }
            }
            
        }
        
        .pages{
            padding-top: 60px;
            padding-bottom: 130px;
            display: flex;
            flex-direction: row;
            max-width: 840px;
            margin: 0 auto;
            transform: translateX(20px);
            
            .page{
                flex-basis:20%;
                ul{
                    list-style-type: none; 
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .main-nav{
        padding:20px 10px !important;
    }

}
