* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 940px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.app-wrapper {
  /* 1.header section */
  /* 2.features section */
  /* 3.footer section */
}

.app-wrapper #header {
  width: auto;
  background: #fcdb00;
  padding-bottom: 105px;
  overflow: hidden;
}

.app-wrapper #header .main-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
  max-width: 930px;
  margin: 0 auto;
  padding: 20px 90px;
}

.app-wrapper #header .main-nav .menu-bar {
  flex-basis: 33.33%;
}

.app-wrapper #header .main-nav .logo-box {
  flex-basis: 33.33%;
  padding-left: 10px;
}

.app-wrapper #header .main-nav .logo-box .logo {
  display: inline-block;
}

.app-wrapper #header .main-nav .logo-box .brandname {
  display: inline-block;
  text-align: center;
  color: #000;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.app-wrapper #header .main-nav .socials {
  flex-basis: 33.33%;
  text-align: center;
  color: #fff;
}

.app-wrapper #header .main-nav .socials .social {
  background: #000;
}

.app-wrapper #header .main-nav .socials .social i {
  padding: 8px;
  text-decoration: none;
  color: #fcdb00;
}

.app-wrapper #header .lead-banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 210px 0px;
  text-align: center;
}

.app-wrapper #header .lead-banner .lead-banner-text {
  flex-basis: 100%;
}

.app-wrapper #header .lead-banner .lead-banner-text h1 {
  padding-bottom: 25px;
}

.app-wrapper #header .lead-banner .lead-banner-text p {
  padding-bottom: 25px;
}

.app-wrapper #header .lead-banner .lead-banner-icons {
  flex-basis: 100%;
}

.app-wrapper #header .lead-banner .lead-banner-icons .icon {
  padding: 18px;
  border: 1px solid #000;
  border-radius: 100%;
}

.app-wrapper #features {
  width: auto;
  background: #fff;
  overflow: hidden;
}

.app-wrapper #features .feature-wrapper {
  padding-bottom: 160px;
}

.app-wrapper #features .feature-wrapper .features-banner-text {
  text-align: center;
  padding-top: 120px;
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.app-wrapper #features .feature-wrapper .features-banner-text h1 {
  padding-bottom: 10px;
}

.app-wrapper #features .feature-wrapper .feature-boxes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 50px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box {
  flex-basis: 33.333%;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content {
  padding: 0px 5px 30px 5px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content .lead-banner-image {
  height: auto;
  max-width: 100%;
  top: -50%;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content h2 {
  padding-bottom: 8px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content p {
  color: #c4c4c4;
}

.app-wrapper #footer {
  width: auto;
  background: #000;
  color: #898989;
  overflow: hidden;
}

.app-wrapper #footer .footer-banner-text {
  text-align: center;
  padding-top: 95px;
  max-width: 716px;
  margin: 0 auto;
}

.app-wrapper #footer .footer-banner-text .footer-header {
  padding-bottom: 15px;
}

.app-wrapper #footer .footer-banner-text h2 {
  color: #fcdb00;
  padding-bottom: 8px;
}

.app-wrapper #footer .footer-banner-text .footer-btn-area {
  padding-bottom: 80px;
  padding-top: 40px;
}

.app-wrapper #footer .footer-banner-text .footer-btn-area .btn {
  background: #fcdb00;
  color: #000;
  border-radius: 8px;
  width: 130px;
  padding: 14px;
  margin-left: 15px;
}

.app-wrapper #footer .footer-banner-text .footer-btn-area .footer-email-inp {
  width: 390px;
  padding: 14px;
  border-radius: 8px;
}

.app-wrapper #footer .pages {
  padding-top: 60px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  max-width: 840px;
  margin: 0 auto;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.app-wrapper #footer .pages .page {
  flex-basis: 20%;
}

.app-wrapper #footer .pages .page ul {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .main-nav {
    padding: 20px 10px !important;
  }
}

